body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #0d2b38;
    background-color: #f0ecec;
    background-image: url("./assets/img/bg.png");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #f0f6f8;
    margin: 0 100px;
}


main {
    padding: auto;
    margin: 0 100px;
    background-color: #fff;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}


footer {
    background-color: #e5e9eb;
    margin: 0 100px;
}
